


<ul class="nav">
    <li class="nav-item">
        <%= link_to "Cadastro de Pokémons" , pokemons_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Cadastro de numero na dex" , dexes_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Cadastro de tipo 1" , tipo1s_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Cadastro de tipo 2" , tipo2s_path, class:"nav-link" %>
    </li>
</ul>
