<ul>
    <li>
        <%= link_to "Cadastro de pokemons" , pokemons_path %>
    </li>
    <li>
        <%= link_to "Cadastro de tipo de numero na dex" , dexes_path %>
    </li>
    <li>
        <%= link_to "Cadastro de tipo 1" , tipo1s_path %>
    </li>
    <li>
        <%= link_to "Cadastro de tipo 2" , tipo2s_path %>
    </li>
</ul>
